[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adept"]
	path = adept
	url = https://github.com/martakarass/adept
[submodule "adeptdata"]
	path = adeptdata
	url = https://github.com/martakarass/adeptdata
[submodule "arctools"]
	path = arctools
	url = https://github.com/martakarass/arctools
[submodule "mdpeer"]
	path = mdpeer
	url = https://github.com/martakarass/mdpeer
[submodule "runstats"]
	path = runstats
	url = https://github.com/martakarass/runstats
